.bg-dc {
  background-color: black;
  display: flex;
  position: relative;
  color: white;
}

.dc-big {
  height: 500px;
  position: absolute;
  right: 200px;
}

.flex {
  display: flex;
  gap: 70px;
}

.flex-header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

.logo-dc {
  height: 50px;
  aspect-ratio: 1;
}

.blue-bar {
  display: flex;
  justify-content: end;
  gap: 20px;
  font-size: 12px;
  color: white;
  background-color: #0282f9;
  padding: 5px;
}

.jumbo {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
  font-size: 10px;
  margin-left: -32px;
}

h5 {
  font-size: 16px;
}